.error-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
}
.error-page.error-full-page {
  background-color: #fff;
}
.page.show-menu .error-full-page {
  left: 230px;
}
.page.page-menu-collapse .error-full-page {
  left: 48px;
}
.error-page-main {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 460px;
  margin-top: -250px;
}
.error-page-main:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 480px;
  height: 400px;
  margin: auto;
}
.error-page-main p {
  position: absolute;
  top: 420px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.error-403 .error-page-main:before {
  background: url(images/error403.png) no-repeat;
}
.error-404 .error-page-main:before {
  background: url(images/error404.png) no-repeat;
}
.error-500 .error-page-main:before {
  background: url(images/error500.png) no-repeat;
}
.error-no-auth .error-page-main {
  height: 240px;
  margin-top: -160px;
}
.error-no-auth .error-page-main::before {
  background: url(images/no-auth.png) no-repeat;
  width: 320px;
  height: 240px;
}
.error-no-auth .error-page-main p {
  top: 256px;
}
